@charset "utf-8";


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@ index.css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@( N잡플러스 ) @@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/*_*_*_*_*_* in-common(srart)_*_*_*_*_*_*_*/





/*_*_*_*_*_* in-common(end)_*_*_*_*_*_*_*/


/*	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	++++++++++++++++++++++  index.css +++++++++++++++++++++++++++++
	++++++++++++++++++++++  N잡플러스  ++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*_*_*_*_*_*_*_*_*_*_* mobile(start)_*_*_*_*_*_*_*_*_*_*_*_*/

@media screen and ( max-width: 767px ) {


	section.visual { overflow: hidden; position: relative; width: 100vw; height: 100vh;  }
	section.visual img { overflow: hidden; display: block; width: 100vw; height: 100vh; object-fit: cover; }
	section.visual > div.text_wrap { position: absolute; top: 50%; bottom: 45%; left: 0; right: 0; margin: auto; transform: translateY(-50%); text-align: center; }
	section.visual p {color: #fff; font-size: 2em; font-family: 'NanumSquareNeo-Regular'; }
	section.visual p:nth-child(1) { margin-bottom: 10px; }
	section.visual p.acce { font-family: 'NanumSquareNeo-Bold'; }



/* ----------------------------------------- */
/* ----------------TOP CLASS---------------- */
/* ----------------------------------------- */


	section.top_class { overflow: hidden; position: relative; padding: 60px 2.6041666vw 0; }

	section.top_class > div.inner_wrap { width: 100%; text-align: center; }

	section.top_class a.btn_more { display: inline-block; width: 20px; height: 20px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 4px; }


	section.top_class div.view_mask { overflow: hidden; position: relative; width: 94.7916668vw; }
	section.top_class ul.main { width: 300%; }
	section.top_class ul.main > li { float: left; width: 33.3333%; }
	section.top_class ul.main > li > div { position: relative; display: inline-block; width: 100%; height: 56.1619718309vh; border: 2px solid #97BF04; border-radius: 10px; padding: 0px 10px; }
	section.top_class ul.main > li > div img { position: absolute; left: 0; top: 0; display: block; width: 100%; height: 31.86619718vh; object-fit: cover; border-radius: 9px 9px 0 0; }

	section.top_class ul.main div.text_wrap { position: absolute; left: 0; bottom: 10px; display: block; width: 100%; text-align: center; }
	section.top_class ul.main div.text_wrap p.title { display: inline-block; margin-bottom: 10px; font-size: 1.5em; font-family: 'NanumSquareNeo-Bold'; }
	section.top_class ul.main div.text_wrap strong { color: #467302; }
	section.top_class ul.main div.text_wrap p.sub_title { font-size: 1em; margin-bottom: 10px; }
	section.top_class ul.main div.text_wrap p.hook { display: none; }
	section.top_class ul.main div.text_wrap p.name { font-size: 0.8125em; }
	section.top_class ul.main div.tag_wrap { display: none; }
	section.top_class ul.main div.location { position: absolute; left: 5px; top: calc(31.86619718vh - 5px); transform: translateY(-100%); background: #fff; border-radius: 8px; }
	section.top_class ul.main div.location > p { padding: 7px 8px; font-size: 0.75em;  }
	section.top_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }
	section.top_class ul.main div.location > p > span { display: none; }


	section.top_class ul.main button { display: none; }

	section.top_class .dir_btns { display: inline-block; margin-top: 20px; }
	section.top_class .dir_btns[class ~= "prev_01"] { float: left; margin-left: 18.75vw; margin-right: 20.3125vw; }
	section.top_class .dir_btns[class ~= "next_01"] { float: left; }
	section.top_class .dir_btns > span { display: inline-block; }



/* ----------------------------------------- */
/* ----------------NEW CLASS---------------- */
/* ----------------------------------------- */


	section.new_class { overflow: hidden; position: relative; padding: 60px 2.6041666vw 0; margin-bottom: 60px; }
	section.new_class div.inner_wrap { width: 100vw; text-align: center; }

	section.new_class a.btn_more { display: inline-block; width: 20px; height: 20px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 4px; }

	/* section.new_class div.view_mask { overflow: hidden; position: relative; width: 92.70833334vw; margin: 0 auto; } */

	section.new_class div.view_mask ul.main { width: 300%; overflow-x: scroll; }
	section.new_class div.view_mask ul.list_all { display: none; }
	section.new_class div.view_mask ul.main > li { float: left; position: relative; width: 67.1875vw; padding: 10px; }
	section.new_class div.view_mask ul.main > li > div { position: relative; width: 100%; height: 265px; border: 2px solid #97bf04; border-radius: 10px; padding: 10px; }
	section.new_class div.view_mask ul.main > li > div img { display: block; width: 100%; height: 189px; object-fit: cover; border-radius: 9px; }
	section.new_class div.view_mask ul.main > li div.text_wrap { position: absolute; bottom: 10px; left: 0; right: 0; width: 100%; font-size: 0.875em; text-align: center; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name { display: inline-block; margin-bottom: 5px; border-bottom: 1px solid #fff; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name > span { display: none; }
	section.new_class div.view_mask ul.main > li div.text_wrap > p.class_t { color: #888 }


	section.new_class ul.main div.location > p { position: absolute; left: 20px; bottom: 70px; padding: 5px 7px; font-size: 0.875em; background: #fff; border-radius: 5px; }
	section.new_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }
	section.new_class div.location > p > span { display: none; }


	section.new_class ul.main button { display: none; }

	section.new_class .dir_btns { display: none; }




	a.class_major > span { display: block; width: calc(100vw -10px); height: 279px; margin-bottom: 60px; background: url("../images/image_index_class_banner_M.jpg") no-repeat center; background-size: 100%; }



/* ----------------------------------------- */
/* ----------------HOT CLASS---------------- */
/* ----------------------------------------- */


	section.hot_class { overflow: hidden; position: relative; padding: 60px 2.6041666vw;  }

	section.hot_class > div.inner_wrap { width: 100%; margin: 0 auto; }
	section.hot_class > div.inner_wrap h2 { width: 100%; text-align: center; }


	.grid_wrap > li { position: relative; display: block; width: 100%; height: 100%; margin-bottom: 5px; }
	.grid_wrap > li > a { position: relative; display: block; width: 100%; height: 100%; }
	.grid_wrap > li > a img { display: block; width: 100%; object-fit: cover; }
	.grid_wrap > li > a div.text_wrap { position: absolute; left: 0; top: 0; }

	section.hot_class ul div img { display: block; width: 100%; height: 81px; object-fit: cover; }
	section.hot_class div.text_wrap { position: absolute; left: 20px; top: 0px; z-index: 3; color: #fff; }
	section.hot_class h3 { position: relative; font-size: 1em; padding: 5px 8px; background: rgba(0, 0, 0, 0.7); }
	section.hot_class p.en { display: none; }


	a.all_in_one { display: block; width: 100%; background: #0A0840; }
	a.all_in_one > span { display: block; width: 100%; height: 128px;  margin: 0 auto; background: url("../images/image_index_event_banner_01_M.jpg") no-repeat center; background-size: 100%; }


/* ----------------------------------------- */
/* ----------------REVIEW------------------- */
/* ----------------------------------------- */


	section.review { overflow: hidden; width: 100vw; position: relative; padding: 60px 2.6041666vw; }

	section.review ul.main { width: 600%; overflow-x: scroll; }

	section.review div.inner_wrap { width: 100vw; text-align: center; }

	section.review ul.main > li { float: left; position: relative; width: 64.6875vw; padding: 0 10px; }
	section.review ul.main > li div[class ^= "review"] { position: relative; border: 1px solid #97BF04; height: 320px; border-radius: 10px; }
	section.review ul.main div > div.img_wrap { position: relative; }
	section.review ul.main div > div.img_wrap img { display: block; width: 100%; height: 184px; object-fit: cover; border-radius: 9px 9px 0 0; border-bottom: 1px solid #97bf04; }
	section.review ul.main div > div.img_wrap > p { display: none; }
	section.review ul.main div > div.img_wrap > img.profile { position: absolute; bottom: -22.5px; right: 0; left: 0; display: block; width: 55px; height: 55px; margin: auto; border: 1px solid #97bf04; border-radius: 9999999999999px; object-fit: cover; z-index: 6; }

	section.review ul.main div > div.text_wrap { position: absolute; right: 0; left: 0; bottom: 15px; width: 100%; padding: 0 10px; text-align: center; font-size: 0.8125em; }
	section.review ul.main div > div.text_wrap > p:nth-child(1) { margin-bottom: 8px; }
	section.review ul.main div > div.text_wrap > p:nth-last-of-type(1) { display: inline-block; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; width: 100%; line-height: 1.5; }
	section.review ul.main div > div.text_wrap > div.stars_wrap { margin-bottom: 8px; }
	section.review ul.main div > div.text_wrap div.stars { display: inline-block; width: 1em; height: 1em; background: salmon; clip-path: polygon(50% 5%, 61% 35%, 95% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 7% 35%, 39% 35%); text-indent: -9999999999999999px; }
	section.review ul.main div > div.text_wrap div.on { background: #467302; }
	section.review ul.main div > div.text_wrap div.off { background: #ddd; }


	section.review .dir_btns { display: none; }
	
	a.njob_festa > span { display: block; width: 100%; height: 128px;  margin: 0 auto 40px; background: url("../images/image_index_event_banner_02_M.jpg") no-repeat center; background-size: 100%; }



/* ----------------------------------------- */
/* ----------------RECRUIT------------------ */
/* ----------------------------------------- */


	section.recruit { overflow: hidden; position: relative; margin-bottom: 60px; }

	section.recruit div.inner_wrap { width: 100vw; padding: 0 20px; }

	section.recruit h3 { display: inline-block; width: 100%; text-align: center; margin-bottom: 30px; font-size: 1.25em; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit p.sub_title { display: inline-block; width: 100%; text-align: center; margin-bottom: 50px; line-height: 1.5; }
	
	section.recruit ul.main { width: 100%; }

	section.recruit ul.main > li { float: left; display: block; width: 50%; text-align: center; padding-bottom: 20px; }
	section.recruit ul.main > li:nth-child(even) { float: right; }
	section.recruit ul.main > li img { display: block; width: 19.375vw; height: 19.375vw; object-fit: cover; margin-bottom: 30px; margin: 0 auto; }
	section.recruit ul.main > li p.title { font-size: 0.875em; text-align: center; margin: 30px 0; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit ul.main > li p.desc { display: none; }

	
	section.recruit button { clear: both; display: block; padding: 15px 40px; background: #97bf04; font-size: 0.875em; margin: 0 auto; color: #fff; border: 1px solid #97bf04; border-radius: 10px; text-align: center; }



}



/*_*_*_*_*_*_*_*_*_*_* mobile(end)_*_*_*_*_*_*_*_*_*_*_*_*/



/*	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	++++++++++++++++++++++  index.css +++++++++++++++++++++++++++++
	++++++++++++++++++++++  N잡플러스  ++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*_*_*_*_*_*_*_*_*_*_* tablet(start)_*_*_*_*_*_*_*_*_*_*_*_*/


@media screen and ( min-width: 768px ) and ( max-width: 1024px ) {



	section.visual { position: relative; width: 100vw; height: 100vh; }
	section.visual img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual > div.text_wrap { position: absolute; top: 50%; bottom: 45%; left: 0; right: 0; margin: auto; transform: translateY(-50%); text-align: center; }
	section.visual p {color: #fff; font-size: 4.375em; font-family: 'NanumSquareNeo-Regular'; }
	section.visual p:nth-child(1) { margin-bottom: 20px; }
	section.visual p.acce { font-family: 'NanumSquareNeo-Bold'; }



/* ----------------------------------------- */
/* ----------------TOP CLASS---------------- */
/* ----------------------------------------- */


	section.top_class { overflow: hidden; position: relative; padding: 90px 3.64583333vw 0; }

	section.top_class > div.inner_wrap { width: 100%; text-align: center; }

	section.top_class a.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }

	section.top_class div.view_mask { overflow: hidden; position: relative; width: 92.70833334vw; }
	section.top_class ul.main { width: 300%; }
	section.top_class ul.main > li { float: left; width: 92.70833334vw; }
	section.top_class ul.main > li > div { position: relative; display: inline-block; width: 100%; height: 500px; border: 2px solid #97BF04; border-radius: 10px; padding: 0px 10px; }
	section.top_class ul.main > li > div img { position: absolute; left: 0; top: 0; display: block; width: calc((100% - 20px) / 2); height: 500px; object-fit: cover; border-radius: 10px 0 0 10px; }

	section.top_class ul.main > li > div div.text_wrap { position: relative; left: 50%; top: 60px; display: block; width: 50%; text-align: center; }
	section.top_class ul.main div.text_wrap p.title { display: inline-block; font-size: 2.8125em; margin-bottom: 30px; font-family: 'NanumSquareNeo-Bold'; line-height: 1.2; }
	section.top_class ul.main div.text_wrap p.col { color: #467302; }
	section.top_class ul.main div.text_wrap p.title:nth-child(1) { margin-bottom: 10px; }
	section.top_class ul.main div.text_wrap p.sub_title { font-size: 1.875em; margin-bottom: 30px; }
	section.top_class ul.main div.text_wrap p.hook { display: none; }
	section.top_class ul.main div.text_wrap p.name { font-size: 1.5em; }
	section.top_class ul.main div.tag_wrap { position: absolute; bottom: 50px; left: 50%; width: 50%; font-size: 1.25em; line-height: 1.5; text-align: center; }
	section.top_class ul.main div.location { position: absolute; left: 10px; bottom: 10px; background: #fff; border-radius: 10px; }
	section.top_class ul.main div.location > p { padding: 8px 12px; font-size: 0.875em;  }
	section.top_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }
	

	section.top_class ul.main button { display: none; }

	section.top_class .dir_btns { display: inline-block; margin: 30px auto; }
	section.top_class .dir_btns[class ~= "prev_01"] { float: left; margin-left: 20.833333333vw; margin-right: 29.16666666666667vw; }
	section.top_class .dir_btns[class ~= "next_01"] { float: left; }
	section.top_class .dir_btns > span { display: inline-block; }

	

/* ----------------------------------------- */
/* ----------------NEW CLASS---------------- */
/* ----------------------------------------- */


	section.new_class { overflow: hidden; position: relative; padding: 90px 3.64583333vw; }

	section.new_class > div.inner_wrap { width: 100%; text-align: center; }

	section.new_class a.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }

	section.new_class div.inner_wrap_02 { width: 95.31249994vw; }
	section.new_class div.view_mask { overflow: hidden; position: relative; width: 92.70833334vw; margin: 0 auto; }
	section.new_class div.view_mask ul.main { width: 200%; }
	section.new_class div.view_mask ul.list_all { display: none; }
	section.new_class div.view_mask ul.main > li { float: left; position: relative; width: 45.05208333vw; padding-right: 20px; }
	section.new_class div.view_mask ul.main > li > div { position: relative; width: 100%; height: 333px; border: 2px solid #97bf04; border-radius: 10px; padding: 20px; }
	section.new_class div.view_mask ul.main > li > div img { display: block; width: 100%; height: 225px; object-fit: cover; border-radius: 9px; }
	section.new_class div.view_mask ul.main > li div.text_wrap { position: absolute; bottom: 20px; left: 20px; width: 100%; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name { display: inline-block; font-size: 1.125em; margin-bottom: 10px; border-bottom: 1px solid #fff; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name > span { display: none; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name:hover { border-bottom: 1px solid #333; }
	section.new_class div.view_mask ul.main > li div.text_wrap > p.class_t { color: #888 }

	section.new_class ul.main div.location > p { position: absolute; left: 30px; top: 200px; padding: 8px 12px; font-size: 0.875em; background: #fff; border-radius: 10px; }
	section.new_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }


	section.new_class ul.main button { display: none; }

	section.new_class .dir_btns { display: inline-block; margin: 30px auto; }
	section.new_class .dir_btns[class ~= "prev_01"] { float: left; margin-left: 20.833333333vw; margin-right: 29.16666666666667vw; }
	section.new_class .dir_btns[class ~= "next_01"] { float: left; }
	section.new_class .dir_btns > span { display: inline-block; }



	a.class_major {	display: block; width: 100vw; background: #FFFF67;  }
	a.class_major > span { display: block; width: 712px; height: 483px; margin: 0 auto; background: url("../images/image_index_class_banner_T.jpg") no-repeat center; background-size: 100%; }


/* ----------------------------------------- */
/* ----------------HOT CLASS---------------- */
/* ----------------------------------------- */


	section.hot_class { overflow: hidden; position: relative; padding: 90px 3.64583333vw;  }

	section.hot_class > div.inner_wrap { width: 100%;  }
	section.hot_class > div.inner_wrap h2 { width: 100%; text-align: center; }


	.grid_wrap { display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); width: 100%; height: 69.7265625vh; }	

	.grid_wrap > li { position: relative; }

	.grid_wrap .item_01 { grid-area: 1 / 1 / 2 / 2; }
	.grid_wrap .item_02 { grid-area: 1 / 2 / 2 / 3; }
	.grid_wrap .item_03 { grid-area: 1 / 3 / 2 / 4; }
	.grid_wrap .item_04 { grid-area: 2 / 1 / 3 / 2; }
	.grid_wrap .item_05 { grid-area: 2 / 2 / 3 / 3; }
	.grid_wrap .item_06 { grid-area: 2 / 3 / 3 / 4; }
	.grid_wrap .item_07 { grid-area: 3 / 1 / 4 / 2; }
	.grid_wrap .item_08 { grid-area: 3 / 2 / 4 / 3; }
	.grid_wrap .item_09 { grid-area: 3 / 3 / 4 / 4; }

	.grid_wrap > li	{ display: block; width: 100%; height: 100%; }
	.grid_wrap > li > a { position: relative; display: block; width: 100%; height: 100%; }
	.grid_wrap > li > a img { display: block; width: 100%; height: 100%; object-fit: cover; }
	.grid_wrap > li > a div.text_wrap { position: absolute; left: 20px; top: 20px; }

	/* section.hot_class ul div:nth-child(3) { float: right; } */
	section.hot_class ul div img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.hot_class li a[class ~= "_wh"] { color: #fff; }
	section.hot_class div.text_wrap { position: absolute; left: 20px; top: 0px; z-index: 3; }
	section.hot_class h3 { position: relative; font-size: 1.375em;  margin-bottom: 30px; font-family: 'NanumSquareNeo-Bold'; }
	section.hot_class p.en { font-size: 1.125em; }
	section.hot_class div p.ko::after { content: ""; position: absolute; bottom: -15px; left: 0; display: block; width: 30px; height: 3px; background: #ccc; }
	section.hot_class div p.en { font-size: 1.25em; }




	a.all_in_one { display: block; width: 100%; background: #0A0840; }
	a.all_in_one > span { display: block; width: 100%; height: 258px;  margin: 0 auto; background: url("../images/image_index_event_banner_01_T.jpg") no-repeat center; background-size: 100%; }


/* ----------------------------------------- */
/* ----------------REVIEW------------------- */
/* ----------------------------------------- */



	section.review { overflow: hidden; position: relative; padding: 90px 1.822916665vw; }

	section.review > div.inner_wrap { width: 100vw; text-align: center; }

	section.review button.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }


	section.reivew div.inner_wrap_02 { width: 96.35416667vw; padding: 0 3.64583333px }
	section.review div.view_mask { overflow: hidden; width: 96.35416667vw; }
	section.review ul.main { width: 200%; }

	section.review ul.main > li { float: left; position: relative; width: 16.6666%; padding: 0 10px; }
	section.review ul.main > li div[class ^= "review"] { border: 1px solid #97BF04; border-radius: 20px; }
	section.review ul.main div > div.img_wrap { position: relative; }
	section.review ul.main div > div.img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 19px 19px 0 0; border-bottom: 1px solid #97bf04; }
	section.review ul.main div > div.img_wrap > p { position: absolute; top: 15px; right: 0; font-size: 0.875em; width: 50%; background: rgba(0, 0, 0, 0.5); padding: 5px; color: #fff; line-height: 1.5;  text-overflow: ellipsis; overflow: hidden; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical }
	section.review ul.main div > div.img_wrap > img.profile { position: absolute; bottom: -35px; right: 0; left: 0; display: block; width: 70px; height: 70px; margin: auto; border: 1px solid #97bf04; border-radius: 9999999999999px; object-fit: cover; z-index: 6; }


	section.review ul.main div > div.text_wrap { width: 100%; height: 14.375em; padding: 50px 20px; text-align: center;  }
	section.review ul.main div > div.text_wrap > p:nth-child(1) { margin-bottom: 15px; }
	section.review ul.main div > div.text_wrap > p:nth-last-of-type(1) { display: inline-block; width: 90%; line-height: 1.5; }
	section.review ul.main div > div.text_wrap > div.stars_wrap { margin-bottom: 15px; }
	section.review ul.main div > div.text_wrap div.stars { display: inline-block; width: 1.25em; height: 1.25em; background: salmon; clip-path: polygon(50% 5%, 61% 35%, 95% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 7% 35%, 39% 35%); text-indent: -9999999999999999px; }
	section.review ul.main div > div.text_wrap div.on { background: #467302; }
	section.review ul.main div > div.text_wrap div.off { background: #ddd; }


	section.review .dir_btns { display: inline-block; margin: 30px auto; }
	section.review .dir_btns[class ~= "prev_01"] { float: left; margin-left: 20.833333333vw; margin-right: 29.16666666666667vw; }
	section.review .dir_btns[class ~= "next_01"] { float: left; }
	section.review .dir_btns > span { display: inline-block; }
	

	a.njob_festa { display: block; width: 100%; background: #63F1D7; }
	a.njob_festa > span { display: block; width: 100%; height: 250px;  margin: 0 auto; background: url("../images/image_index_event_banner_02_T.jpg") no-repeat center; background-size: 100%; }



/* ----------------------------------------- */
/* ----------------RECRUIT------------------ */
/* ----------------------------------------- */



	section.recruit { overflow: hidden; position: relative; padding: 90px 3.64583333vw; }

	section.recruit div.inner_wrap { width: 100%; padding: 0 120px; text-align: center; }

	section.recruit h3 { display: inline-block; margin-bottom: 30px; font-size: 2.25em; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit p.sub_title { display: inline-block; width: 100%; text-align: center; margin-bottom: 50px; line-height: 1.5; }
	
	section.recruit ul.main { width: 100%; }

	section.recruit ul.main > li { float: left; display: block; width: 50%; text-align: center; padding-bottom: 50px; }
	section.recruit ul.main > li:nth-child(even) { float: right; }
	section.recruit ul.main > li img { display: block; width: 100px; height: 100px; object-fit: cover; margin-bottom: 30px; margin: 0 auto; }
	section.recruit ul.main > li p.title { font-size: 1.25em; text-align: center; margin: 30px 0; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit ul.main > li p.desc { width: 100%; line-height: 1.5; text-align: center; }

	
	section.recruit button { clear: both; display: block; padding: 15px 40px; background: #97bf04; margin: 0 auto; color: #fff; border: 1px solid #97bf04; border-radius: 15px; text-align: center; }


	




}


/*_*_*_*_*_*_*_*_*_*_* tablet(end)_*_*_*_*_*_*_*_*_*_*_*_*/




/*	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	++++++++++++++++++++++  index.css +++++++++++++++++++++++++++++
	++++++++++++++++++++++  N잡플러스  ++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*_*_*_*_*_*_*_*_*_*_* desktop(start)_*_*_*_*_*_*_*_*_*_*_*_*/

@media screen and ( min-width: 1025px ) {


	/* section.visual { position: relative; width: calc(100vw - 100px); height: calc(100vh - 50px); margin: 50px 50px 50px;  }
	section.visual img { display: block; width: 100%; height: 100vh; object-fit: cover; }
	section.visual > div.text_wrap { position: absolute; top: 50%; bottom: 45%; left: 0; right: 0; margin: auto; transform: translateY(-50%); text-align: center; }
	section.visual p {color: #fff; font-size: 4.375em; font-family: 'NanumSquareNeo-Regular'; }
	section.visual p:nth-child(1) { margin-bottom: 20px; }
	section.visual p.acce { font-family: 'NanumSquareNeo-Bold'; } */

	section.visual {
		position: relative;
		width: calc(100vw - 100px);
		height: calc(100vh - 100px);
		margin: 50px;
		overflow: hidden; /* 이미지를 섹션 범위 내에 표시 */
	}
	
	section.visual img {
		display: block;
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
	
	section.visual picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0; /* 초기 상태에서 모든 이미지를 숨김 */
		transition: opacity 1s ease-in-out; /* opacity 변화를 통한 부드러운 전환 */
	}
	
	section.visual picture.active {
		opacity: 1; /* 활성화된 이미지만 표시 */
	}
	
	section.visual > div.text_wrap {
		position: absolute;
		top: 50%;
		bottom: 45%;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(-50%);
		text-align: center;
		z-index: 1; /* 텍스트가 이미지 위에 잘 보이도록 */
	}
	
	section.visual p {
		color: #fff;
		font-size: 4.375em;
		font-family: 'NanumSquareNeo-Regular';
	}
	
	section.visual p:nth-child(1) {
		margin-bottom: 20px;
	}
	
	section.visual p.acce {
		font-family: 'NanumSquareNeo-Bold';
	}
	
	
	


/* ----------------------------------------- */
/* ----------------TOP CLASS---------------- */
/* ----------------------------------------- */


	section.top_class { overflow: hidden; position: relative; margin-bottom: 100px; margin-top: 100px; }
	section.top_class h2 { display: inline-block; margin-right: 30px; margin-bottom: 50px; }



	section.top_class a.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }


	section.top_class div.view_mask { overflow: hidden; position: relative; width: 1128px; margin: 0 auto; }
	section.top_class ul.main { position: relative; width: 300%; transition: left 0.3s; }
	section.top_class ul.main > li { float: left; width: 33.3333%; }
	section.top_class ul.main > li > div { position: relative; display: inline-block; width: 100%; height: 500px; border: 2px solid #97BF04; border-radius: 20px; }
	section.top_class ul.main > li > div img { position: absolute; left: 0; top: 0; display: block; width: calc((100% - 20) / 2); height: 500px; object-fit: cover; border-radius: 19px 0 0 19px; }

	section.top_class ul.main > li > div div.text_wrap { position: relative; left: calc(50% + 80px); top: 40px; display: block;width: 100%; }
	section.top_class ul.main div.text_wrap p.title { display: inline-block; font-size: 2.8125em; margin-bottom: 30px; font-family: 'NanumSquareNeo-Bold'; line-height: 1.2; }
	section.top_class ul.main div.text_wrap strong { color: #467302; }
	section.top_class ul.main div.text_wrap p.title:nth-child(1) { width: 30%; margin-bottom: 10px; }
	section.top_class ul.main div.text_wrap p.sub_title { font-size: 1.5em; margin-bottom: 30px; }
	section.top_class ul.main div.text_wrap p.hook { font-family: 'Noto Serif KR'; font-weight: bold; margin-bottom: 30px; font-size: 1.125em; line-height: 27px; }
	section.top_class ul.main div.tag_wrap { position: absolute; bottom: 40px; left: calc(50% + 80px); line-height: 1.5; }
	section.top_class ul.main div.location { position: absolute; left: 10px; bottom: 10px; background: #fff; border-radius: 10px; }
	section.top_class ul.main div.location > p { padding: 8px 12px; font-size: 0.875em;  }
	section.top_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }

	section.top_class ul.main a.more { position: absolute; right: 40px; bottom: 40px; padding: 15px 40px; background: #97bf04; color: #fff; border: 1px solid #97bf04; border-radius: 15px; }
	section.top_class ul.main a.more:hover { background: #fff; color: #97bf04; }

	section.top_class .dir_btns { display: inline-block; position: absolute; z-index: 30; height: 100%; }
	section.top_class .dir_btns[class ~= "prev_01"] { left: -30px; top: 0; }
	section.top_class .dir_btns[class ~= "next_01"] { right: -30px; top: 0; }
	section.top_class .dir_btns > span { display: inline-block; }

	

/* ----------------------------------------- */
/* ----------------NEW CLASS---------------- */
/* ----------------------------------------- */


	section.new_class { overflow: hidden; position: relative; margin-bottom: 100px;  }
	section.new_class h2 { display: inline-block; margin-right: 30px; margin-bottom: 50px; }

	section.new_class a.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }

	section.new_class div.view_mask { overflow: hidden; position: relative; width: 1128px; height: 330px; margin: 0 auto; }
	section.new_class div.view_mask ul.main { width: 200%; }
	section.new_class div.view_mask ul.list_all { display: none; }
	section.new_class div.view_mask ul.main > li { float: left; width: 25%; padding: 0 15px;  }
	section.new_class div.view_mask ul.main > li > div { position: relative; width: 100%; border: 2px solid #97bf04; border-radius: 20px; }
	section.new_class div.view_mask ul.main > li > div img { display: block; width: 100%; object-fit: cover; border-radius: 19px; }
	section.new_class div.view_mask ul.main > li div.text_wrap { position: absolute; top: calc(100% + 20px); left: 0; width: 100%; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name { display: inline-block; font-size: 1.125em; margin-bottom: 10px; border-bottom: 1px solid #fff; }
	section.new_class div.view_mask ul.main > li div.text_wrap > a.class_name:hover { border-bottom: 1px solid #333; }
	section.new_class div.view_mask ul.main > li div.text_wrap > p.class_t { color: #888 } 


	section.new_class ul.main div.location > p { position: absolute; left: 10px; bottom: 10px; padding: 8px 12px; font-size: 0.875em; background: #fff; border-radius: 10px; }
	section.new_class ul.main div.location > p::before { content: ""; display: inline-block; width: 15px; height: 21px; margin-right: 5px; background: url("../images/ico_location.png") no-repeat center; background-size: 100%; vertical-align: middle; }


	section.new_class .dir_btns { display: inline-block; position: absolute; z-index: 30; height: 100%; }
	section.new_class .dir_btns[class ~= "prev_01"] { left: -30px; top: 0; }
	section.new_class .dir_btns[class ~= "next_01"] { right: -30px; top: 0; }
	section.new_class .dir_btns > span { display: inline-block; }



	a.class_major {	display: block; width: 100%; background: #FFFF67; margin-bottom: 100px; }
	a.class_major > span { display: block; width: 1108px; height: 753px; margin: 0 auto; background: url("../images/image_index_class_banner_D.jpg") no-repeat center; background-size: 100%; }






/* ----------------------------------------- */
/* ----------------HOT CLASS---------------- */
/* ----------------------------------------- */


	


	section.hot_class { position: relative; margin-bottom: 100px; }

	section.hot_class h2 { margin-bottom: 50px; }

	section.hot_class ul div { position: relative; display: inline-block; }


	.grid_wrap { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr); width: 100%; height: 831px; }	

	.grid_wrap > li { position: relative; }

	.grid_wrap .item_01 { grid-area: 1 / 1 / 2 / 3; }
	.grid_wrap .item_02 { grid-area: 1 / 3 / 2 / 4; }
	.grid_wrap .item_03 { grid-area: 1 / 4 / 2 / 5; }
	.grid_wrap .item_04 { grid-area: 2 / 1 / 3 / 2; }
	.grid_wrap .item_05 { grid-area: 2 / 2 / 3 / 4; }
	.grid_wrap .item_06 { grid-area: 2 / 4 / 4 / 5; }
	.grid_wrap .item_07 { grid-area: 3 / 1 / 4 / 2; }
	.grid_wrap .item_08 { grid-area: 3 / 2 / 4 / 3; }
	.grid_wrap .item_09 { grid-area: 3 / 3 / 4 / 4; }

	.grid_wrap > li > a { position: relative; display: block; width: 100%; height: 100%; }
	.grid_wrap > li > a img { display: block; width: 100%; height: 100%; object-fit: cover; }
	.grid_wrap > li > a div.text_wrap { position: absolute; left: 30px; top: 30px; }

	.grid_wrap > li:hover > a::after { content: ""; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); }
	.grid_wrap > li:hover span { position: absolute; bottom: 0; right: 0; display: block; width: 140px; height: 140px; background: #fff; border-top-left-radius: 9999999999px; z-index: 4; }
	.grid_wrap > li:hover span::before { content: ""; position: absolute; right: 0; bottom: 0; left: 30px; top: 20px; margin: auto; display: block; width: 45px; height: 27px; background: url("../images/ico_arrow.png") no-repeat center; background-size: 100%; z-index: 5; animation-name: arrow; animation-duration: 0.7s; animation-iteration-count: infinite; animation-timing-function:ease-in; }
	.grid_wrap > li:hover div { color: #fff; }

	@keyframes arrow {
		0% {
			right: 25px;
		}
		50% {
			right: 0px;
		}
		100% {
			right: 25px;
		}
	}


	/* section.hot_class ul div:nth-child(3) { float: right; } */
	section.hot_class ul div img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.hot_class li a[class ~= "_wh"] { color: #fff; }
	section.hot_class div.text_wrap { position: absolute; left: 30px; top: 30px; z-index: 3; }
	section.hot_class div h3 { position: relative; font-size: 1.5625em;  margin-bottom: 30px; font-family: 'NanumSquareNeo-Bold'; }
	section.hot_class div h3::after { content: ""; position: absolute; bottom: -15px; left: 0; display: block; width: 30px; height: 3px; background: #ccc; }
	section.hot_class div p.en { font-size: 1.25em; }




	a.all_in_one { display: block; width: 100%; background: #0A0840; margin-bottom: 100px; }
	a.all_in_one > span { display: block; width: 1108px; height: 258px;  margin: 0 auto; background: url("../images/image_index_event_banner_01_D.jpg") no-repeat center; background-size: 100%; }


/* ----------------------------------------- */
/* ----------------REVIEW------------------- */
/* ----------------------------------------- */

	section.review { position: relative; margin-bottom: 100px; }

	section.review h2 { display: inline-block; margin-right: 30px; margin-bottom: 50px; }
	section.review button.btn_more { display: inline-block; width: 30px; height: 30px; background: url("../images/ico_more.png") no-repeat center; background-size: 100%; vertical-align: middle; margin-bottom: 8px; }

	section.review ul.main { width: 200%; }
	section.review ul.main > li { float: left; position: relative; width: 16.66666%; padding: 0 0.625em;  }
	section.review ul.main > li > div { border: 2px solid #97BF04; border-radius: 20px; }
	section.review ul.main div > div.img_wrap { position: relative; }
	section.review ul.main div > div.img_wrap img { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 19px 19px 0 0; border: 1px solid #97bf04; }
	section.review ul.main div > div.img_wrap > p { position: absolute; top: 15px; right: 0; font-size: 0.875em; width: 50%; background: rgba(0, 0, 0, 0.5); padding: 5px; color: #fff; line-height: 1.5; }
	section.review ul.main div > div.img_wrap > img.profile { position: absolute; bottom: -35px; right: 0; left: 0; display: block; width: 70px; height: 70px; margin: auto; border: 1px solid #97bf04; border-radius: 9999999999999px; object-fit: cover; z-index: 6; }


	section.review ul.main div > div.text_wrap { width: 100%; height: 14.375em; padding: 50px 20px; text-align: center; border-radius: 0 0 19px 19px; border: 1px solid #97BF04; }
	section.review ul.main div > div.text_wrap > p:nth-child(1) { margin-bottom: 15px; }
	section.review ul.main div > div.text_wrap > p:nth-last-of-type(1) { display: inline-block; width: 90%; line-height: 1.5; }
	section.review ul.main div > div.text_wrap > div.stars_wrap { margin-bottom: 15px; }
	section.review ul.main div > div.text_wrap div.stars { display: inline-block; width: 1.25em; height: 1.25em; background: salmon; clip-path: polygon(50% 5%, 61% 35%, 95% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 7% 35%, 39% 35%); text-indent: -9999999999999999px; }
	section.review ul.main div > div.text_wrap div.on { background: #467302; }
	section.review ul.main div > div.text_wrap div.off { background: #ddd; }


	section.review .dir_btns { display: inline-block; position: absolute; z-index: 30; height: 100%; }
	section.review .dir_btns[class ~= "prev_01"] { left: -30px; top: 0; }
	section.review .dir_btns[class ~= "next_01"] { right: -30px; top: 0; }
	section.review .dir_btns > span { display: inline-block; }
	

	a.njob_festa { display: block; width: 100%; background: #63F1D7; margin-bottom: 100px; }
	a.njob_festa > span { display: block; width: 1108px; height: 258px;  margin: 0 auto; background: url("../images/image_index_event_banner_02_D.jpg") no-repeat center; background-size: 100%; }



/* ----------------------------------------- */
/* ----------------RECRUIT------------------ */
/* ----------------------------------------- */



	section.recruit { position: relative; width: 100%; margin-bottom: 100px; }

	section.recruit h3 { display: inline-block; width: 100%; text-align: center; margin-bottom: 30px; font-size: 2.25em; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit p.sub_title { display: inline-block; width: 100%; text-align: center; margin-bottom: 50px; line-height: 1.5; }
	
	section.recruit ul.main { width: 100%; margin-bottom: 50px; }

	section.recruit ul.main > li { float: left; display: block; width: calc((100% - 300px) / 4); text-align: center; }
	section.recruit ul.main > li + li { margin-left: 100px; }
	section.recruit ul.main > li img { display: block; width: 100px; height: 100px; object-fit: cover; margin-bottom: 30px; margin: 0 auto; }
	section.recruit ul.main > li p.title { font-size: 1.25em; text-align: center; margin: 30px 0; font-family: 'NanumSquareNeo-Bold'; }
	section.recruit ul.main > li p.desc { line-height: 1.5; text-align: center; }

	
	section.recruit button { clear: both; display: block; padding: 15px 40px; background: #97bf04; margin: 0 auto; color: #fff; border: 1px solid #97bf04; border-radius: 15px; text-align: center; }
	section.recruit button:hover { background: #fff; font-weight: bold; color: #97bf04; }
}


/*_*_*_*_*_*_*_*_*_*_* desktop(end)_*_*_*_*_*_*_*_*_*_*_*_*/